<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WPDEV - Instance Management</title>
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>WPDEV Instance Management</h1>

<!-- Create Instance Form -->
<div class="container">
    <button hx-post="/create_instance"
        hx-target="#instances-list"
        >Create Instance</button>

    <button hx-delete="/delete_instances"
            hx-target="#instances-list"
            >Delete All</button>
    <button hx-post="/start_all_instances"
            hx-target="#instances-list"
            >Start All</button>
    <button hx-post="/stop_all_instances"
            hx-target="#instances-list"
            >Stop All</button>
    <button hx-post="/restart_all_instances"
            hx-target="#instances-list"
            >Restart All</button>

</div>

<div class="container">
    <h2>Instances</h2>
    <div id="instances-list" hx-get="/list_all_instances" hx-trigger="load">
        <!-- Dynamic content from instances.html.tera will be loaded here -->
    </div>
</div>

</body>
</html>

