:root {
    --running: #31bf7d;
    --stopped: #ff4d4f;
    --exited: #ac31bf;
    --unknown: #dddddd;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ececec;
    background-color: #151515;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem;
}

.wpdev-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button {
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #ececec;
    transition: background-color .3s ease;

    &:hover {
        background-color: #444;
    }
}

[disabled] {
    display: none;
}

#instances-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;

    .instance {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid #333;
        border-radius: 5px;
        gap: 1rem;

        .instance-title {
            display: flex;
            gap: .5rem;
            align-items: center;
        }

        .instance-status {
            width: 20px;
            height: 20px;
            border-radius: 50%;

            &.Running {
                background-color: #31bf7d;
            }

            &.Stopped {
                background-color: #ff4d4f;
            }

            &.Exited {
                background-color: #ac31bf;
            }

            &.Unknown {
                background-color: #dddddd;
            }
        }

        .instance-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .instance-containers {
            display: flex;
            justify-content: space-between;
            margin-top: auto;

            .instance-container {
                &.Running {
                    color: var(--running);
                }

                &.Stopped {
                    color: var(--stopped);
                }

                &.Exited {
                    color: var(--exited);
                }

                &.Unknown {
                    color: var(--unknown);
                }
            }
        }
    }
}

.instance .htmx-request {
  animation: shimmerEffect 2s infinite linear;
}

@keyframes shimmerEffect {
  0% {
    border-color: violet;
  }
  20% {
    border-color: indigo;
  }
  40% {
    border-color: blue;
  }
  60% {
    border-color: green;
  }
  80% {
    border-color: yellow;
  }
  100% {
    border-color: orange;
  }
}

.loader.htmx-request {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner {
        border: 4px solid #151515;
        border-top: 4px solid #31bf7d;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


